body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #c0f1a9;
}

#container {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(213, 230, 61);
    border: 5px solid #030303;
    transition: background-color 0.3s;
}

#text {
    font-size: 20px;
    margin-bottom: 20px;
}

#toggleButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #040a00;
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s;
}

#toggleButton.active {
    background-color: #070707;
    color: rgb(221, 221, 221)
}